cloud_id                 = "cloud_id"
folder_id                = "folder_id"
zone                     = "ru-central1-a"
image_id                 = "image_id"
public_key_path          = "appuser.pub"
subnet_id                = "subnet_id"
service_account_key_file = "key.json"
private_key_path         = "appuser"
access_key 				 = "YCA.....T9lQ"
secret_key				 = "YCP.....qgVU"
app_disk_image 			 = "fd8.....viai"
db_disk_image 			 = "fd84..ua2ruvt"
